/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif; 
*/

body {
  margin: 0;
  font-family: "Playfair Display", serif;
  transition: background-color 0.3s, color 0.3s;
}

body.light-mode {
  background-color: #f5f5dc;
  color: #1a2f2f;
}

body.dark-mode {
  background-color: #1a2f2f;
  color: #f8f9fa !important;
}

body.dark-mode .navLinks {
  color: #f8f9fa;
}

body.dark-mode .navLinks:hover {
  color: #c9d7f8;
}

.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #f5d491;
}

.social-media-list li {
  position: relative;
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border: 1px solid #343d46;
}

body.dark-mode .social-media-list li {
  border: 1px solid white;
}

.social-media-list li:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all 0.5s ease-in-out;
}

.social-media-list li:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: #c9d7f8;
}

.social-media-list li:hover:after {
  opacity: 1;
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
  color: #000;
}

.navLinks {
  text-decoration: none;
  list-style: none;
  color: inherit;
  font-family: "Playfair Display", serif;
  padding: 0.5rem;
  cursor: pointer;
  transition: color 0.3s;
}

.navLinks:hover {
  color: #c9d7f8;
}

.selectedNav {
  font-weight: bold;
  font-size: larger;
  color: #0a3d62;
}

body.dark-mode .selectedNav {
  color: rgb(245, 212, 145);
}

.toggle-icon-button {
  background: none;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: inherit;
  transition: transform 0.3s;
}

.toggle-icon-button:hover {
  transform: scale(1.2);
}

.contactDiv {
  width: 75%;
  color: #f5d491;
  font-family: "Playfair Display", serif;
}

.contactForm {
  border: 1px solid white;
  padding: 10px;
  border-radius: 10px;
}

.input {
  width: 100%;
  background-color: #c9d7f8;
  border: none;
}

textarea {
  width: 100%;
  background-color: #c9d7f8;
  border: none;
}

form label {
  font-size: 20px;
  font-weight: bold;
}

.hidden {
  display: none;
}

.logo {
  width: 20rem;
  height: 20rem;
  line-height: 5.5rem;
  border-radius: 100%;
  margin: auto;
}

.imageOfMe {
  border-radius: 100%;
  width: 20rem;
  height: 20rem;
}

.aboutMeHeader {
  margin: auto;
}

.content {
  border-style: solid;
  border-color: #f5f5dc;
  border-top-width: 2px;
  border-bottom-width: 2px;
  max-width: 100%;
  margin-bottom: 5px;
}

body.light-mode .content {
  border-color: #343d46;
}

.content .inner {
  padding: 3rem 2rem;
  max-height: 40rem;
  overflow: hidden;
}

.content .inner h2 {
  font-size: 50px;
  color: #f5d491;
  font-family: "Playfair Display", serif;
}

body.light-mode .content .inner h2 {
  color: #343d46;
}

.content .inner p {
  font-size: 20px;
  color: #f5d491;
}

body.light-mode .content .inner p {
  color: #343d46;
}

.content .inner > :last-child {
  margin-bottom: 0;
}

.content p {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
  line-height: 2;
  font-family: "Playfair Display", serif;
}

.aboutMeParagraph {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #f5d491;
  font-size: 18px;
  font-family: "Playfair Display", serif;
}

body.light-mode .aboutMeParagraph {
  color: #343d46;
}

.pageContainer {
  position: relative;
  min-height: 95vh;
}

.contentWrapper {
  padding-bottom: 2.5rem;
}

.footerWrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.pageTitle {
  color: #f5d491;
}

.pageTitle h1 {
  font-size: 50px;
  font-family: "Playfair Display", serif;
}

.portfolioTitle {
  color: #f5d491;
  font-family: "Playfair Display", serif;
}

.submitButton {
  background-color: #f5d491;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.projectImageID {
  width: 100%;
  height: 100%;
  padding: 5px;
}

.projectDiv {
  margin: auto;
  margin-bottom: 50px;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 5% 5% 0% 0%;
  font-family: "Playfair Display", serif;
}

.projectName {
  text-align: center;
  font-size: 1.5rem;
  text-decoration: underline;
  color: #f5d491;
}

.projectImg {
  position: relative;
}

.techStack {
  text-decoration: underline;
  color: #f5d491;
}

.techStackDiv {
  color: #f5d491;
  margin-bottom: 5px;
}

.deployedText {
  color: #f5d491;
}

.githubText {
  color: #f5d491;
}

.resumeSection {
  margin-left: 50px;
  margin-bottom: 50px;
  margin-top: 50px;
  color: #f5d491;
  font-family: "Playfair Display", serif;
}

.resumeSection p {
  font-size: 20px;
}

.resumeSection a {
  color: #f5d491;
}

.frontEnd {
  text-align: center;
  font-family: "Playfair Display", serif;
}

.frontEnd button {
  background-color: #f5d491;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  font-size: 20px;
}

.frontEnd button:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: #c9d7f8;
}

.backEnd {
  text-align: center;
  font-family: "Playfair Display", serif;
}

.backEnd button {
  background-color: #f5d491;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  font-size: 20px;
}

.backEnd button:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: #c9d7f8;
}

.resumeLink {
  color: #f5d491;
}

.skillList {
  list-style: none;
  color: #f5d491;
}

.backEndSection {
  border: 1px solid #f5d491;
  padding: 20px;
  margin-top: 10px;
  font-size: 20px;
}

.frontEndSection {
  border: 1px solid #f5d491;
  padding: 20px;
  margin-top: 10px;
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .projectDiv:hover {
    box-shadow: 0 0 30px 15px #fff, 0 0 50px 30px #f0f, 0 0 70px 45px #0ff;
  }

  .navLinks {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .pageTitle h1 {
    text-align: center;
  }

  .navLinks {
    font-size: 25px;
  }
}

/* Dark Icons for Light Mode */
.dark-icon {
  color: #1a2f2f !important;
}
