/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif; 
*/

body {
  margin: 0;
  background-color: #343d46;
  color: white;
  background: url("https://images.unsplash.com/photo-1554050857-c84a8abdb5e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=654&q=80");
}

.headerClass {
  background: url('https://wallpapercave.com/wp/LYnrrzN.png') no-repeat;
  background-size: 100% 100%;
}

.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #F5D491;
}

.social-media-list li {
  position: relative;
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border: 1px solid white;
}

.social-media-list li:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all 0.5s ease-in-out;
}

.social-media-list li:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: #C9D7F8;
}

.social-media-list li:hover:after {
  opacity: 1;
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
  color: #000;
}

.navLinks {
  text-decoration: underline;
  list-style: none;
  color: #F5D491;
  font-family: 'Playfair Display', serif;

}

.navLinks:hover {
  transform: translateY(-5px);
  text-decoration: none;
}

.selectedNav {
  font-weight: bold;
  font-size: larger;
}

.contactDiv {
  width: 75%;
  color: #F5D491;
  font-family: 'Playfair Display', serif;
}

.contactForm {
  border: 1px solid white;
  padding: 10px;
  border-radius: 10px;
}

.input {
  width: 100%;
  background-color: #C9D7F8;
  border: none;
}

textarea {
  width: 100%;
  background-color: #C9D7F8;
  border: none;
}

form label {
  font-size: 20px;
  font-weight: bold;
}

.hidden {
  display: none;
}

.logo {
  width: 20rem;
  height: 20rem;
  line-height: 5.5rem;
  border-radius: 100%;
  margin: auto;
}

.imageOfMe {
  border-radius: 100%;
  width: 20rem;
  height: 20rem;
}

.aboutMeHeader {
  margin: auto;
}

.content {
  border-style: solid;
  border-color: #ffffff;
  border-top-width: 1px;
  border-bottom-width: 1px;
  max-width: 100%;
  margin-bottom: 5px;
}

.content .inner {
  padding: 3rem 2rem;
  max-height: 40rem;
  overflow: hidden;
}

.content .inner h2 {
  font-size: 50px;
  color: #F5D491;
  font-family: 'Playfair Display', serif;
}

.content .inner p {
  font-size: 20px;
  color: #F5D491;
}

.content .inner> :last-child {
  margin-bottom: 0;
}

.content p {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
  line-height: 2;
  font-family: 'Playfair Display', serif;
}

.aboutMeParagraph {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #F5D491;
  font-size: 18px;
  font-family: 'Playfair Display', serif;
}

.pageContainer {
  position: relative;
  min-height: 95vh;
}

.contentWrapper {
  padding-bottom: 2.5rem;
}

.footerWrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.pageTitle {
  color: #F5D491;
}

.pageTitle h1 {
  font-size: 50px;
  font-family: 'Playfair Display', serif;
}

.portfolioTitle {
  color: #F5D491;
  font-family: 'Playfair Display', serif;
}

.submitButton {
  background-color: #F5D491;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.projectImageID {
  width: 100%;
  height: 100%;
  padding: 5px;
}

.projectDiv {
  margin: auto;
  margin-bottom: 50px;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 5% 5% 0% 0%;
  font-family: 'Playfair Display', serif;
}

.projectName {
  text-align: center;
  font-size: 1.5rem;
  text-decoration: underline;
  color: #F5D491;
}

.projectImg {
  position: relative;
}

.techStack {
  text-decoration: underline;
  color: #F5D491;
}

.techStackDiv {
  color: #F5D491;
  margin-bottom: 5px;
}

.deployedText {
  color: #F5D491;
}

.githubText {
  color: #F5D491;
}

.resumeSection {
  margin-left: 50px;
  margin-bottom: 50px;
  margin-top: 50px;
  color: #F5D491;
  font-family: 'Playfair Display', serif;
}

.resumeSection p {
  font-size: 20px;
}

.resumeSection a {
  color: #F5D491;
}

.frontEnd {
  text-align: center;
  font-family: 'Playfair Display', serif;
}

.frontEnd button {
  background-color: #F5D491;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  font-size: 20px;
}

.frontEnd button:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: #C9D7F8;
}

.backEnd {
  text-align: center;
  font-family: 'Playfair Display', serif;
}

.backEnd button {
  background-color: #F5D491;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  font-size: 20px;

}

.backEnd button:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: #C9D7F8;
}

.resumeLink {
  color: #F5D491;
}

.skillList {
  list-style: none;
  color: #F5D491;
}

.backEndSection {
  border: 1px solid #F5D491;
  padding: 20px;
  margin-top: 10px;
  font-size: 20px;
}

.frontEndSection {
  border: 1px solid #F5D491;
  padding: 20px;
  margin-top: 10px;
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .projectDiv:hover {
    box-shadow:
      0 0 30px 15px #fff,
      0 0 50px 30px #f0f,
      0 0 70px 45px #0ff;
  }

  .navLinks {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .pageTitle h1 {
    text-align: center;
  }

  .navLinks {
    font-size: 25px;
  }
}